.home {
  display: grid;
  grid-template-columns: 10% 90%;
  gap: 2rem;
  padding: 3%;
}
.containerCards {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 2rem;
}

.filter {
  text-align: left;
  background-color: #f1f2f6;
  padding: 15px;
}

.filter h1 {
  font-size: 14px;
}

.filter p {
  font-size: 12px;
}
