.containerHome {
  margin-top: 30px;
}

.home {
  display: grid;
  grid-template-columns: 12% 88%;
  gap: 2rem;
  padding: 3%;
  margin-right: 2%;
}
.containerCards {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2rem;
}
