.cardContainer {
  background-color: #ffffff;
  border-radius: 15px;
  box-sizing: inherit;
  color: #009432;
  padding: 10px;
  -webkit-box-shadow: 0px 0px 27px 0px rgba(116, 125, 140, 0.49);
  -moz-box-shadow: 0px 0px 27px 0px rgba(116, 125, 140, 0.49);
  box-shadow: 0px 0px 27px 0px rgba(116, 125, 140, 0.49);
}

.idCard {
  font-size: 10px;
  text-align: left;
  margin-left: 50px;
  margin-bottom: 20px;
}

.imageCard {
  height: 148px;
  width: 200px;
  border-radius: 25px;
}

.nameCard {
  font-size: 16px;
  margin-left: 10px;
  margin-right: 10px;
}

.healthCard{
  font-size: 14px;
}

.btnCard {
  display: inline-block;
  border-radius: 20px;
  background-color: #ea2027;
  color: #ffffff;
  font-size: 16px;
  text-align: center;
  padding: 10px;
  width: 100px;
  cursor: pointer;
  transition: all 0.5s;
  border: none;
}

.cardContainer:hover{
    transform: scale(1.05);
}
