.searchBar{
    padding-top: 60px;
    padding-bottom: 60px;
}

.inputSearch{
    background: none;
    border: none;
    width: 300px;
    border-bottom: 1px solid rgba(44, 62, 80,1.0);
    color: rgba(44, 62, 80,1.0);
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
    outline: 0px;
    transition: all 0.2s;
}

.inputSearch:hover{
    border-bottom: 3px solid rgba(44, 62, 80,1.0);
}

.btnSearch{
    display: inline-block;
    background: #EA2027;
    color: #ffffff;
    border: none;
    font-size: 20px;
    padding-left: 20px;
    padding-right: 20px;
    text-align: center;
    padding: 10px;
    cursor: pointer;
    margin: 5px;
}