body {
  width: 100%;
  height: 100%;
  position: relative;
  background-color: #46f2e4;
  background: linear-gradient(
    rgba(70, 242, 228, 0.7),
    rgba(70, 242, 228, 0.7)
  );
}

@media (min-width: 720px) {
  body {
    width: 100%;
    height: 100%;
    position: relative;
    background: linear-gradient(
        rgba(240, 242, 239, 0.5),
        rgba(240, 242, 239, 0.5)
      ),
      url("../../images/prop5.jpg");
    background-size: cover;
  }
}

.landing {
  color: rgba(44, 62, 80, 1);
  display: grid;
}

@media (min-width: 1366px) {
  .landing {
    color: rgba(44, 62, 80, 1);
    grid-template-columns: 50% 50%;
    margin: 30px;
    margin-left: 150px;
    margin-right: 150px;
    padding: 30px;
  }
}

.landing h1 {
  font-size: 50px;
  text-align: left;
}

@media (min-width: 720px) {
  .landing h1 {
    font-size: 70px;
    text-align: left;
  }
}

.landing p {
  font-size: 20px;
  font-weight: 400;
  text-align: justify;
}

@media (min-width: 720px) {
  .landing p {
    font-size: 20px;
    font-weight: 400;
    text-align: left;
  }
}

.textLanding {
  background-color: rgba(236, 240, 241, 0.1);
  padding: 20px;
}

.imageLanding {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

.buttonLanding {
  display: inline-block;
  border-radius: 20px;
  background-color: #ea2027;
  border: none;
  color: #ffffff;
  text-align: center;
  font-size: 28px;
  padding: 20px;
  width: 200px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}

.buttonLanding:hover {
  transform: scale(1.05);
}
