.containerPag {
    padding-bottom: 50px;
  }
  .pagination {
    display: inline-block;
    padding: 0;
    margin: 0;
    
  }
  
  .sectionPag {
    display: inline;
  }
  
  .number{
      color: rgba(44, 62, 80,1.0);
      float: left;
      padding: 8px 16px;
      text-decoration: none;
      cursor: pointer;
      background-color: #a4b0be;
  }
  
  .active{
      background: rgba(44, 62, 80,1.0);
      color: white;
      float: left;
      padding: 8px 16px;
      text-decoration: none;
      cursor: pointer;
  }
  
  .disable{
      cursor: not-allowed;
      background-color: #dfe4ea !important;
      color:#a4b0be !important;
      pointer-events: none;
  }
  
  .onPag{
      color: rgba(44, 62, 80,1.0);
      float: left;
      padding: 8px 16px;
      text-decoration: none;
      cursor: pointer;
      
      background-color: #a4b0be;
  }
  
  .sectionPag p:hover:not(.active){
      background-color: #ddd;
  }