.containerPag {
  padding-bottom: 50px;
}
.pagination {
  display: inline-block;
  padding: 0;
  margin: 0;
}

.sectionPag {
  display: inline;
}

.number{
    color: #009432;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    cursor: pointer;
}

.active{
    background: #009432;
    color: white;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    cursor: pointer;
}

.disable{
    cursor: not-allowed;
    background-color: #dfe4ea !important;
    color:#a4b0be !important;
    pointer-events: none;
}

.onPag{
    color: #009432;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    cursor: pointer;
}

.sectionPag p:hover:not(.active){
    background-color: #ddd;
}