.navBar{
    background-color: #ffffff;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
.contentNavBar{
    background-color: #ffffff;
    display: flex;
    justify-content: space-between;
    text-align: center;
}

.logoNav{
    width: 150px;
    height: 150px;
}

.navButton{
    color: #009432;
    border: none;
    background-color: transparent;
    font-size: 30px;
    margin-top: 20px;
    padding: 5px;
    cursor: pointer;
    text-decoration: none;
}

.navButton:hover{
    color: #EA2027;
}